[phases.setup]
nixPkgs = ["python311", "ffmpeg"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn app:app --timeout 120 --workers 2 --threads 4 --worker-class gthread --bind 0.0.0.0:$PORT"
